body{
    background-color: lightsteelblue;
    color: ghostwhite;
}
.heading{
    width: 80%;
    font-size: 22px;
    font-family: monospace;
    color: orangered;
}
.object_names{
    color: purple;
    font-family: cursive;
}